
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
{% extends 'djangoProject3/base.html' %}
{% block center %}
<a href="{% url 'blog:blog' %}">blog💻</a>

{% for project in projects %}
    <h1>{{ project.title }}</h1>
    <p>{{ project.describtion }}</p>
    <a {% if project.url %}
            href="{{ project.url }}"
            {% endif %}
    ><img src="{{ project.images.url }}"></a>
{#    {% if project.url %}#}
{#    <a href="{{ project.url }}"></a>#}
{#    {% endif %}#}

{% endfor %}
{% endblock %}
</body>
</html>